/*******************************************************************************
 *                                                                             *
 * ToggleSwitch                                                                *
 *                                                                             *
 ******************************************************************************/
.toggle-switch {
	-fx-padding: 3 0 0 0;
}

.toggle-switch .text {
    -fx-font-size: 1em;
    -fx-text-fill: -fx-text-base-color;
}

.toggle-switch .thumb {
    -fx-background-color:
    linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0, 1, 2;


    /*-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-body-color;*/
    /*-fx-background-insets: 0 0 -1 0, 0, 1;*/
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 0.6em;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.toggle-switch .thumb-area{
    -fx-background-radius: 1em;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)), #f5f5f5;
    -fx-background-insets: 0, 1;
}

/*.toggle-switch:hover .thumb-area{*/
    /*-fx-background-color: -fx-outer-border, white;*/
/*}*/

/*.toggle-switch:selected:hover .thumb-area{*/
    /*-fx-background-color: -fx-outer-border, #4fabff;*/
/*}*/

.toggle-switch:hover .thumb{
    -fx-color: -fx-hover-base
}

.toggle-switch:selected .thumb-area{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)), linear-gradient(to bottom, derive(#0b99c9, 30%), #0b99c9) ;
    -fx-background-insets: 0, 1;

}

/*.toggle-switch:pressed .thumb-area, .toggle-switch:selected:pressed .thumb-area{*/
    /*-fx-background-insets: 0, 1;*/
    /*-fx-background-color: -fx-outer-border, #666666;*/
/*}*/

.toggle-switch .thumb-area
{
    -fx-padding: 0.6em 1.333333em 0.6em 1.333333em; /* 7 16 7 16 */
}

.toggle-switch:disabled
{
    -fx-opacity: 0.4;
}