<script src="codemirror.js"></script>
<link rel="stylesheet" href="codemirror.css">
<script src="sql.js"></script>

<style type="text/css">
html, body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
}
</style>
<body>
<textArea id="textAreaSqlStatement">
</textArea>

<script>
var editor = CodeMirror.fromTextArea(document.getElementById("textAreaSqlStatement"), {
  mode: { name: "text/x-sql", htmlMode: true},
  lineNumbers: true,
  tabMode: "ident",
  matchBrackets: true,
  path: 'sql/',
  searchMode: 'inline',
});

editor.focus();
</script>
</body>