#excelExport{
  -fx-graphic: url("/gui/results/resources/export.png");
}
#excelExport:hover{
  -fx-graphic: url("/gui/results/resources/export-glow.png");
	-fx-cursor: Hand;
}
.labelInfo{
	-fx-text-fill: white;
  -fx-font-size: 15px;
  -fx-font-weight: bold;
}
.error{
	-fx-background-color: red;
}

.warning{
	-fx-background-color: orange;
}

.success{
	-fx-background-color: #00ff00;
}
